{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "warn",
    "@typescript-eslint/no-explicit-any": "warn"
  }
}