.userPhoto {
    width: 150px;
    height: 150px;
    border-radius: 100px;

}

.selectedPage {
    font-weight: bold;
    border: solid 1px yellow;
}

.pageNumber {
    border: solid 1px yellow;
}

.pagesList {
    width: 900px;
    overflow-wrap: break-word;
    text-align: center;
    cursor: pointer;

}

