.nav {
    grid-area: n;
    background-color: #301334;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: goldenrod;
}

.friends {
    margin-top: 20px;
}